0x01-variables_if_else_while/tests
0x02-functions_nested_loops/_*
0x02-functions_nested_loops/1-main.c
0x04-more_functions_nested_loops/1-main.c
0x04-more_functions_nested_loops/_*
0x05-pointers_arrays_strings/1-main.c
0x05-pointers_arrays_strings/_*
0x06-pointers_arrays_strings/1-main.c
0x06-pointers_arrays_strings/_*
